asgiref==3.7.2
bidict==0.22.1
blinker==1.6.2
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
Cython==0.29.24
distlib==0.3.6
Django==5.0
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
Faker==24.4.0
filelock==3.12.0
Flask==2.3.2
Flask-Login==0.6.3
Flask-MySQLdb==1.0.1
Flask-SocketIO==5.3.6
Flask-WTF==1.2.1
fonttools==4.47.0
glfw==2.4.0
gunicorn==21.2.0
h11==0.14.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
MarkupSafe==2.1.3
matplotlib==3.8.2
multipledispatch==0.6.0
mysql-connector-python==8.0.30
mysqlclient==2.1.1
nltk==3.8.1
numpy==1.26.2
opencv-python==4.6.0.66
packaging==23.2
pandas==2.1.1
Pillow==8.4.0
platformdirs==3.5.1
protobuf==3.20.1
psycopg2==2.9.9
pygame==2.1.0
PyOpenGL==3.1.5
pyparsing==3.1.1
pyrr==0.10.3
python-dateutil==2.8.2
python-engineio==4.8.0
python-socketio==5.10.0
pytz==2023.3.post1
regex==2023.10.3
requests==2.30.0
seaborn==0.13.0
simple-websocket==1.0.0
six==1.16.0
sqlparse==0.4.4
tqdm==4.66.1
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.0.2
virtualenv==20.23.0
Werkzeug==2.3.6
wsproto==1.2.0
WTForms==3.1.1
